{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
      <p class="archive__item-excerpt" itemprop="description" style="margin-bottom: 0">
        <font size="4">
          {{post.author}}, ({{ post.year }}), {{ post.title }}, {{post.venue}}, {{post.volume}} {{post.pages}}
        </font>
      </p> 
      <p class="archive__item-excerpt" itemprop="description" style="margin-bottom: 0">
        <font size="4">
          {% if post.paper-link %}
          <a href="{{post.paper-link}}">document</a>
          {% endif %} 
          {% if post.code-link %}
          | <a href="{{post.code-link}}">code</a>
          {% endif %}
        </font>
      </p> 
     </li>
  </article>
</div>
